{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block content %}

<h2>Transaction History</h2>

<div class="card">

{% if transactions %}

<table>

    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Reference</th>
        <th>Status</th>
    </tr>

    {% for transaction in transactions %}

    <tr>

        <td>
            {{ transaction.created_at }}
        </td>

        <td>
            {{ transaction.type }}
        </td>

        <td>
            KSh {{ transaction.amount }}
        </td>

        <td>
            {{ transaction.reference }}
        </td>

        <td>
            {{ transaction.status }}
        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>
    You don't have any transactions yet.
</p>

{% endif %}

</div>

{% endblock %}
